{{> navbar}}
{{#if cart}}
<script>
    const cartId = "{{cart._id}}";
    let totalValue = 0

		{{#each cart.products}}
    totalValue+= {{quantity}} * {{productId.price}}
    {{/each}}
</script>

<table>
        <thead>
            <tr>
            <th>Nombre</th>
            <th>Descripcion</th>         
            <th>Categoria</th>
            <th>Precio</th>
            <th>Cantidad</th>
        </tr>
        </thead>

    <tbody >
        {{#each cart.products}}
    <tr class="data_body">
        <td>
            {{productId.title}}
        </td>
        <td>
            {{productId.description}}
        </td>
        <td>
            {{productId.category}}
        </td>
        <td>
            {{productId.price}}
        </td>
        <td>
            {{quantity}}

        </td>
        <td>
            <button class="deleteProductButton" id={{productId._id}}>Eliminar</button>
        </td>
    </tr>
    </tbody>


{{/each}}


<tr>   
    <td style="text-align: center" colspan="6" >
        <h5>Total: $<span id="totalValue">{{totalValue}}</span></h5>
						
            <button id="boton_pago">Realizar Compra</button>
    </td>
       
        </tr>
        
</table>



{{else}}
<h2>Carrito Vacio</h2>

{{/if}}






<script src="/js/userCart.js"></script>

