{{> navbar}}

{{#if users}}
<table>
        <thead>
            <tr>
            
            <th>Nombre</th>
            <th>Email</th>         
            <th>Rol</th>
            <th>Status</th>
						<th></th>
						<th></th>
          
        </tr>
        </thead>

    <tbody >
        {{#each users}}
    <tr class="data_body">
        
        <td>
            {{first_name}}
        </td>
        <td>
            {{email}}
        </td>
        <td>
            {{rol}}
        </td>
				<td>
            {{status}}
        </td>
  
        <td>
            <button class="changeRolButton" id={{_id}}>Cambiar Rol</button>
        </td>
				<td>
					<button class="deleteUser" id={{_id}}>Eliminar usuario</button>
				</td>
    </tr>
    </tbody>


{{/each}}

<button id="deleteInactiveUsers">Eliminar usuarios inactivos</button>
<script src="/js/rols.js"></script>
{{/if}}


